* {
    font-family: 'Montserrat',
    sans-serif;
}
h2 {
    text-transform: uppercase;
}
    /* Homepage  */
.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    padding-top: 10rem;
}
.nav-link {
    color: white;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #80b784;
    text-decoration: underline;
}
.hero-btn {
    border-radius: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 5px;
}
.hero-btn:hover {
    color: #377B44;
}
.hero-text {
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 2;
}
.accent-text {
    color: #80b784;
}

 /* About  */
.about {
    display: flexbox;
    justify-content:space-evenly;
    background: #E6F2E9;
}
.about-img {
    height: 30rem;
    width: 20rem;
    border-radius: 10px;
}
.col-md-6 {
    margin-top: 80px;
}

/* Menu  */
.menu {
    margin-top: 80px;
}
.card-body {
    background: #E6F2E9;
}
.card-title {
    color: #377B44;
}
.text-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-2 {
    margin-top:60px;
    margin-bottom: 20px;
}
.menu-btn {
    background:#80b784;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}
.menu-btn:hover {
    background: #377B44;
}
/* Gallery */
.gallery {
    margin-top: 80px;
    background: #E6F2E9;
    padding-bottom: 30px;
}
.gallery-title {
    margin-bottom: 20px;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content:center;
}
.item {
    padding: 5px;
}
/* Contact  */
.contact-list {
    list-style-type: none;
}
.contact-title {
    text-align: center;
}

/* footer  */
.footer {
    background:#E6F2E9;

}