* {
    font-family: 'Montserrat',
    sans-serif;
}
h2 {
    text-transform: uppercase;
}
section{
    cursor: pointer;
}
p {
    font-size: 16px;
}
    /* Homepage  */
.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.logo {
    padding-top: 10rem;
}
.navbar-default {
    background: transparent;
     transition:500ms ease;
}
.navbar-default.scrolled {
    background: black;
}
.nav-link {
    color: white;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #80b784;
    text-decoration: underline;
}
.hero-link {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}
.hero-link:hover {
    color: #80b784;
    background: black;
}
.hero-text {
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 2;
}
.accent-text {
    color: #80b784;
}

 /* About  */
.about {
    display: flexbox;
    justify-content:space-evenly;
    background: #E6F2E9;
}
.about-img {
    height: 30rem;
    width: 20rem;
    border-radius: 10px;
}
.col-md-6 {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Menu  */
.menu {
    margin-top: 80px;
}

.card-body {
    background: #E6F2E9;
}
.card-title {
    color: #377B44;
}
.text-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-2 {
    margin-top:60px;
    margin-bottom: 20px;
}
.menu-btn {
    background:none;
    border-radius: 10px;
    border: 1px solid #377B44;
    padding: 5px;
}
.menu-btn:hover {
    background: black;
    color:#80b784 ;
}
.card-img-top {
    height: 10cm;
}
.order-btn {
    border: 1px solid #377B44;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    background: white;
    color: black;
}
.order-btn:hover {
    color: #80b784;
    background: black
    ;
}
/* .card {
    /* display: none; */
/* / */
/* Gallery */
.gallery {
    margin-top: 80px;
    margin-bottom: 80px;
    background: #E6F2E9;
    padding-bottom: 60px;
    padding-top: 60px;
}
.gallery-title {
    margin-bottom: 20px;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content:center;
}
.item {
    padding: 5px;
}
/* Contact  */
.contact {
    margin-top: 80px;
    margin-bottom: 80px;
}
.contact-list {
    list-style-type: none;
}
.contact-title {
    text-align: center;
}

.bi-contact{
    margin-top: 20px;
    margin-right: 20px;
    line-height: 2;
    font-size: 30px;
    color: #80b784;
}
.subscribe {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #377B44;
    background: none;
}
.subscribe:hover {
    background: black;
    color: #80b784;

}
.subscribe-text {
    margin-top: 20px;
}
.email {
    margin-top: 20px;
}

/* index footer  */
.footer {
    background:#383839;

}
.bi-footer {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color:#80b784;
    padding-bottom: 0;
}
.map {
    height: 5cm;
    width: 5cm;
    /* display: flex;  */
    flex-direction: row;
    align-self: right;

}
.footer-list {
    list-style:none;
    line-height: 2;
}
.footer-link {
    list-style: none;
    font-weight: bold;
    color: white;
     text-decoration: none;
}
.footer-link:hover{
    color: #80b784;
    text-decoration: underline;
}
.copyright {
    color: white;
    text-align: right;
}

.footer hr {
    color: white;
}

   


/* checkout-order  */
.nav-order {
    color: black;
    background: #E6F2E9;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.navbar.scrolled {
    background: #E6F2E9;
    transition: background-color 200ms linear;
}

.order {
    color: black;
}
#order-section {
    display: flex;
    justify-content: space-around;
}
/* chekcout-footer  */
.checkout-footer {
    background:#E6F2E9;
    padding-bottom: 30px;
    margin-top: 80px;

}
